<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">Everyone Deserves A Safe Space to Sleep</span>
  <span class="site-heading-lower"><b>Sleep Safe</b></span>
  <br>
  <span class='site-heading-upper text-primary'><b>Shelters Near You</b></span>
</h1>

<div class="container">
  <% @shelters.each do |shelter| %>
    <div class="intro-text left-0 text-center bg-faded p-4 rounded">
      <h3><%= link_to shelter[:name], shelter_path(shelter) %> <h3>
      <wl>
        <li class='fas fa-phone-alt' 'phone_number'>  <%= shelter[:phone_number]%></li>
        <li class='address'> <%= shelter[:address] %></li>
      </wl>
    </div>
    <br>
  <% end %>
</div>


      <!-- <div class="intro-button mx-auto">
        <a class="btn btn-primary btn-xl" href=/users/sign_up> Sign Up Today!</a>
      </div> -->

<!-- <section class='shelters'> -->


    <!-- <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://blackrockdigital.github.io/startbootstrap-business-casual/img/intro.jpg" alt=""> -->
